/* Universal Styles */

html {
    font-size: 16px;
    color: #1A7B72;
}

body {
    font-family: Helvetica;
    color:  cadetblue;
}

a,
h1,
h2,
h3,
.author {
    color: DimGray;
}

h1 {
    font-size: 2.4rem;
    font-weight:bold;
    line-height: 1.4;
}

h2 {
    font-size: 1.9rem;
    font-weight:bold;
}

h3 {
    font-size: 1.3rem;
    font-weight:bold;
}

.content,
.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title,
.author,
.info {
    text-align: left;
}

.text {
    text-align: justify;
    line-height: 1.4;
}

.author {
    font-size: 1.1rem;
    line-height: 1.4;
}

.info {
    color: dodgerblue;
}

/* HEADER */

header .content {
    height: 4rem;
    padding: 0 1.5rem;
    justify-content: space-between;
    border-bottom: 3px solid lightGrey;
}

header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo img {
    height: 3.2rem;
}

header .logo .left {
    font-weight: 800;
    color: DimGray;
}

header .logo .right {
    color: LightGray;
}

header nav {
}

header nav ul {
    margin: 0 0;
}

header nav li {
    display: inline;
    padding-left: 1rem;
}

 header.mobile {
    display: none;
}

@media only screen and (max-width: 680px)
{
    header .content {
        height: 4rem;
    }

    header .logo,
    header .desktop {
        display: none;
    }

    header .mobile {
        display: inline-block;
        width: 100%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav img {
        height: 2.7rem;
    }
}


/* MAIN-CONTENT */

.section:nth-child(odd) {
    background-color: LightGrey;
    text-align: center;
}

.section:nth-child(even) {
    background-color: white;
    text-align: center;
}

    /* Section 1 */
.section-1 .photo-container {
    width: 60%;
    padding: 2rem 1.5rem;
}

.section-1 .sign-up_section {
    margin-right: 10%;
}

.section-1 .sign-up_section h3 {
    padding: 1rem 0;
    line-height: 1.4;
}

.section-1 .sign-up_section .btn {
    background-color: DimGray;
    padding: .5rem 0;
    font-size: 1.3rem;
}

.section-1 .sign-up_section .btn a {
    color: white;
}

@media only screen and (max-width: 1024px)
{
    .section-1 .photo-container {
        padding: 2rem 1rem;
    }


    .section-1 .sign-up_section {
        margin-right: 1.5rem;
    }
}
@media only screen and (max-width: 900px)
{
    .section-1 .sign-up_section h1 {
        font-size: 1.9rem;
        line-height: 1.3;
    }

    .section-1 .sign-up_section h3 {
        font-size: 1rem;
    }

    .section-1 .sign-up_section .btn {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 720px)
{
    .section-1 .sign-up_section h1 {
        font-size: 1.8rem;
        line-height: 1.1;
    }

    .section-1 .sign-up_section h2 {
        font-size: 1rem;
    }

    .section-1 .sign-up_section .btn {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 680px)
{
    .section-1 .content {
        flex-wrap: wrap;
    }

    .section-1 .photo-container {
        width: 100%;
        padding: 0 0;
    }

    .section-1 .sign-up_section {
        width: 100%;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
}

    /* Section 2 */

.section-2 {
    border: 3px solid firebrick;
    margin: 2rem 0 2rem 1.5rem;
}

.section-2 .content {
    align-items: flex-start;
}

.section-2 .column-right .mobile {
    display: none;
}

.section-2 .column-left {
    width: 60%;
    border: 3px solid black;
    padding-right: 1.5rem;
}

.section-2 .column-left .photo-container {
    width: 100%;
    border: 3px solid yellow;
    padding-bottom: 2rem;
}

.section-2 .column-left h2 {
    padding-bottom: 1.5rem;
}

.section-2 .column-left .author {
    padding-top: 2rem;
}

.section-2 .column-left div:last-child {
    border: 3px solid orange;
}

.section-2 .column-right {
    width: 40%;
    border: 3px solid black;
}

.section-2 .column-right .container-3 {
    background-color: LightGrey;
}

.section-2 .column-right .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid cadetblue;
}

.section-2 .column-right .photo-container {
    width: 35%;
    border: 3px solid yellow;
    padding: 1rem;
}

.section-2 .column-right .article {
    width: 65%;
    border: 3px solid orange;
    padding-right: 1.5rem;
}

.section-2 .column-right .article .btn {
    text-align: left;
}

.section-2 .column-right .article .text {
    padding: .5rem 0;
}

@media only screen and (max-width: 1000px)
{
    .section-2 .column-left {
        padding-right: .8rem;
    }

    .section-2 .column-right .photo-container {
        padding: .5rem;
    }
    .section-2 .column-left .photo-container {
        padding-bottom: 1.3rem;
    }

    .section-2 .column-left h2 {
        font-size: 1.6rem;
        padding-bottom: .6rem;
    }

    .section-2 .column-right h3 {
        font-size: 1rem;
    }

    .section-2 p {
        font-size: .9rem;
    }

    .section-2 .column-right .btn {
       font-size: 1rem;
    }

    .section-2 .column-left .author {
        font-size: 1.1rem;
        padding-top: .9rem;
    }
}

@media only screen and (max-width: 680px)
{
    .section-2 .column-right .desktop,
    .section-2 .column-left {
    display: none;
    }

   .section-2 .column-right .mobile {
    display: flex;
    }

    .section-2 .container {
        flex-wrap: wrap;
        margin: 0;
    }

    .section-2 {
        margin: 0 auto;
    }

    .section-2 .column-right .photo-container {
        width: 100%;
        padding: 0;
    }
    .section-2 .column-right .photo-container img {
        width: 100%;
    }
    .section-2 .column-right .article {
        width: 100%;
    }
    .section-2 .column-right {
        width: 100%;
        margin: 1rem 1rem 2rem 1rem;
    }

    .section-2 .container .article {
        padding: 1rem;
    }
}

    /* Section 3 */



/* FOOTER */

footer {
    color: DimGray;
}

footer div {
    height: 6rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:  1rem 1.5rem 0 1.5rem;
    border-top: 3px solid lightGrey;
}

footer ul li {
    display: inline;
    padding-left: 0.8rem;
}

footer .mobile {
    display: none;
}

@media only screen and (max-width: 680px)
{
    footer ul {
        display: none;
    }

    footer div {
        padding: 1.5rem 0 0 0;
        justify-content: center;
        height: inherit;
    }

    footer span {
        padding: 1rem 0;
    }

    footer .desktop {
        display: none;
    }

    footer .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
}